{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsStorage": "",
    "OPENAI_API_KEY": "...",
    "OPENAI_API_URL": "...",
    "OPENAI_CHATGPT_DEPLOYMENT": "...",
    "OPENAI_GPT_DEPLOYMENT": "...",
    "AZURE_SPEECH_KEY": "...",
    "AZURE_SPEECH_REGION": "...",
    "AZURE_LANGUAGE_KEY": "...",
    "AZURE_LANGUAGE_ENDPOINT": "..."
  }
}