<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Component demo</title>
    <link rel="stylesheet" href="index.css" />
</head>

<body>
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <input class="govuk-input" id="user-query" name="event-name" type="text" placeholder="Ask me anything..." maxlength="200">
                </div>
                <div class="govuk-grid-column-one-third">
                    <button class="govuk-button" data-module="govuk-button" id="search-button">Ask</button>
                </div>
            </div>
            <div id="search-result" class="govuk-inset-text" style="display:block"></div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <button class="govuk-button" id="show-audio-controls-button">Show audio</button>
                </div>
                <div class="govuk-grid-column-one-third">
                    <button class="govuk-button" id="mic-button" style="display:none">Record</button>
                </div>
                <div class="govuk-grid-column-one-third">
                    <audio id="audio-player" controls style="display:none"></audio>
                </div>
            </div>
            
            
        </main>
      </div>
    <script src="main.js"></script>
</body>

</html>