<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Component demo</title>
    <link rel="stylesheet" href="index.css" />
</head>

<body>
    <div id="container">
        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="event-name">
                Search here:
                </label>
            </h1>
            <input class="govuk-input" id="user-query" name="event-name" type="text">
            <button class="govuk-button" data-module="govuk-button" onclick="searchButtonPressed()">Search</button>
            <div id="search-result" class="govuk-inset-text"></div>
        </div>
    </div>
    <script src="./index.js"></script>
</body>

</html>